@layer reset, global, components, overrides;

@import url("./reset.css") layer(reset);
@import url("./overrides.css") layer(overrides);
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lato:wght@400;700&display=swap");

@layer global {
  :root {
    /* Gray Scale */
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --step-0: clamp(1rem, 0.9rem + 1vw, 1.125rem); /* Base body text */
    --step-1: clamp(1.25rem, 1.15rem + 1vw, 1.5rem); /* H4 and lead text */
    --step-2: clamp(1.5625rem, 1.4rem + 1vw, 2rem); /* H3 */
    --step-3: clamp(2rem, 1.8rem + 1vw, 2.625rem); /* H2 */
    --step-4: clamp(2.5rem, 2.25rem + 1vw, 3.5rem); /* H1 */
    --step-5: clamp(3rem, 2.75rem + 1vw, 4.75rem); /* Large headings */
  }

  html {
    font-family: system-ui, sans-serif;
    font-size: var(--step-0);
    line-height: 147.5%; /* 23.6px */
    color: #595566; /* Text color */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cabin", sans-serif;
    color: #181818; /* Heading color */
    line-height: 1.125;
  }

  h1 {
    font-size: var(--step-5); /* Corresponds to 50px on desktop */
  }

  h2 {
    font-size: var(--step-4); /* Corresponds to 45px on desktop */
  }

  h3 {
    font-size: var(--step-3); /* Corresponds to 40px on desktop */
  }

  h4 {
    font-size: var(--step-2); /* Corresponds to 35px on desktop */
  }

  h5 {
    font-size: var(--step-1); /* Corresponds to 30px on desktop */
  }

  h6 {
    font-size: var(--step-0); /* Corresponds to 25px on desktop */
  }

  p {
    font-family: "Lato", sans-serif;
    font-size: var(--step-0); /* Corresponds to 16px on desktop */
    line-height: 147.5%; /* 23.6px */
  }

  .text-lead {
    font-size: var(--step-2);
    line-height: 1.3;
  }

  article {
    max-width: 65ch;
    margin-inline: auto;
    margin-block: 3rem;
    padding-inline: 1rem;

    > * + * {
      margin-top: var(--flow-space, 0.5rem);
    }

    h2 {
      --flow-space: 1.5rem;
    }

    h3,
    h4,
    .text-lead {
      --flow-space: 1.3rem;
    }

    .text-lead + *,
    figure + * {
      --flow-space: 1rem;
    }
  }
}
