---
import BaseLayout from "../layouts/BaseLayout.astro";

import EmployeeSection from "../components/EmployeeSection.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/axwii/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());

const firstThreeEmployees = employeeData.slice(0, 3);
---

<BaseLayout title="Home">
  <article>
    <h1>Welcome to AskExperts</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde odio rerum
      obcaecati illum. Possimus deserunt unde, alias aut cum debitis enim ipsa
      architecto repellendus facilis?
    </p>
  </article>
  <EmployeeSection data={firstThreeEmployees} />
  <EmployeeSection data={employeeData} theme="dark" />
</BaseLayout>
