---
import BaseLayout from "../layouts/BaseLayout.astro";

import EmployeeSection from "../components/EmployeeSection.astro";
import Newsletter from "../components/Newsletter.astro";
import Button from "../components/Button.astro";
import Label from "../components/Label.astro";
import Hero from "../components/Hero.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/axwii/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());

const firstThreeEmployees = employeeData.slice(0, 3);
---

<BaseLayout title="Home">
  <Hero label="Services" image="src/assets/images/theConsultorsHero.png"
    >Creative Services For Boost Your Business Growth</Hero
  >
  <article>
    <Label color="green">Our vison</Label>
    <h2>Turn your ideas into reality.</h2>
    <p>
      Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test. Override the digital divide with additional from
      DevOps.
    </p>
    <ul>
      <li>
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </li>
      <li>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital.
      </li>
    </ul>
    <figure>
      <img src="src/assets/images/ideasIntoReality.png" alt="" />
    </figure>
  </article>

  <EmployeeSection data={firstThreeEmployees} />
  <Newsletter />
</BaseLayout>

<style>
  figure {
    margin-inline: auto;
    max-width: 400px;
    margin: 3rem;
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: -1.5rem;
      top: -1rem;
      background: #4eaf4e;
      width: 100px;
      height: 100px;
      z-index: -1;
      border-radius: 20px;
    }
  }
</style>
