---
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../layouts/Container.astro";

import EmployeeSection from "../components/EmployeeSection.astro";
import Newsletter from "../components/Newsletter.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/axwii/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());
---

<BaseLayout title="Team">
  <Container layout="full-bleed">
    <Hero bgImage="theConsultorsHero.png" label="team">The Consultors</Hero>
  </Container>

  <Container layout="content">
    <div class="tw">
      <div>
        <h1>Meet Our Great Team</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad
          minim veniam, quis nostrud exercitation.
        </p>
      </div>
      <Button class="btn">Join our team</Button>
    </div>
    <EmployeeSection data={employeeData} />
  </Container>
  <Container layout="content">
    <Newsletter />
  </Container>
</BaseLayout>

<style>
  .tw {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  p {
    max-width: 65ch;
  }
</style>
