---
import Label from "./Label.astro";
import FigureWithSquares from "./FigureWithSquares.astro";
import ContactInfo from "./ContactInfo.astro";

const imageList = [
  { src: "src/assets/images/contactUs1.jpg", alt: "Contact Us" },
  { src: "src/assets/images/contactUs2.jpg", alt: "Contact Us" },
  { src: "src/assets/images/contactUs3.jpg", alt: "Contact Us" },
];
---

<div class="grid_1-1">
  <div class="flex">
    <Label color="yellow">Proccess</Label>
    <h1>Contact Us. It's Easy.</h1>
    <p>
      Leverage agile frameworks to provide a robust synopsis for high level
      overviews. Iterative approaches to corporate strategy foster
      collaborative.
    </p>
    <div>
      <ContactInfo
        iconSrc="src/icons/call.svg"
        altText="Call"
        title="Call Today"
        details="+1 800 100 900"
      />

      <ContactInfo
        iconSrc="src/icons/time.svg"
        altText="Time"
        title="Monday To Friday"
        details="9AM - 5PM"
      />

      <ContactInfo
        iconSrc="src/icons/Pin.svg"
        altText="Place"
        title="USA Office"
        details="195 Devonshire St Boston, MA 02110"
      />
    </div>
  </div>
  <span>
    <FigureWithSquares
      beforeTop="-7%"
      beforeRight="-12%"
      afterBottom="-5%"
      afterLeft="-6%"
      images={imageList}
    />
  </span>
</div>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 3rem 0;
  }

  @media (min-width: 800px) {
    .grid_1-1 {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
