---
const { title, icon } = Astro.props;
---

<li>
  <img src={icon} alt="" />
  <p>{title}</p>
  <p>
    <slot />
  </p>
  <p>Read More →</p>
</li>

<style>
  li {
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;
    align-self: start;
    min-width: 250px;
    /* background: var(--bg-card); */
  }

  img {
    width: 50px;
    height: 50px;
  }

  p:first-of-type {
    font-weight: 600;
    font-size: 20px;
    font-family: Cabin;
    color: #181818;
    margin-block: 1rem;
    /* color: var(--text-card); */
  } 

  p:last-of-type {
    font-weight: 600;
    /* color: var(--text-card); */
    margin-top: 1rem;
    font-size: 18px;
  } 

</style>
