---
import Label from "./Label.astro";
import Button from "./Button.astro";
import CoreValuesCard from "./CoreValuesCard.astro";
---

<div>
  <Label>Growing with our Clients</Label>
  <div>
    <h2>Our core values & principles</h2>
    <p>
      Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test. Override the digital divide with additional from
      DevOps.
    </p>
  </div>
  <ul role="list">
    <CoreValuesCard title="Creative Ideas" icon="assets/icons/stack.svg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget
      accumsan augue Donec aliquam.</CoreValuesCard
    >
    <CoreValuesCard title="Best Features" icon="assets/icons/bar-chart.svg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.</CoreValuesCard
    >
    <CoreValuesCard title="Experience" icon="assets/icons/globe.svg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget
      accumsan augue Donec aliquam.</CoreValuesCard
    >
    <CoreValuesCard title="Easy Solutions" icon="assets/icons/cog.svg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.</CoreValuesCard
    >
  </ul>
</div>

<style>
  div {
    display: grid;
    gap: 1rem;
  }

  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
</style>
