---
import { Image } from "astro:assets";
import stackIcon from '../assets/icons/stack.svg';
import barChartIcon from '../assets/icons/bar-chart.svg';
import globeIcon from '../assets/icons/globe.svg';
import cogIcon from '../assets/icons/cog.svg';

const { title, icon } = Astro.props;

const icons = {
  'stack': stackIcon,
  'bar-chart': barChartIcon,
  'globe': globeIcon,
  'cog': cogIcon
};

const iconSrc = icons[icon];
---

<li>
  <Image src={iconSrc} alt="" width={50} height={50} />
  <p>{title}</p>
  <p>
    <slot />
  </p>
  <p>Read More →</p>
</li>

<style>
  li {
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;
    align-self: start;
    min-width: 250px;
    /* background: var(--bg-card); */
  }

  img {
    width: 50px;
    height: 50px;
  }

  p:first-of-type {
    font-weight: 600;
    font-size: 20px;
    font-family: Cabin;
    color: #181818;
    margin-block: 1rem;
    /* color: var(--text-card); */
  } 

  p:last-of-type {
    font-weight: 600;
    /* color: var(--text-card); */
    margin-top: 1rem;
    font-size: 18px;
  } 

</style>