---
import Label from "./Label.astro"
---

<Label theme="green">FAQ</Label>
<details name="a">
  <summary>Accordion</summary>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</div>
</details>

<details name="a">
  <summary>Accordion</summary>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</div>
</details>

<details name="a">
  <summary>Accordion</summary>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</div>
</details>
