---
import { Image } from "astro:assets";
const { images } = Astro.props;
---

{
  images && images.length === 1 ? (
    <Image src={images[0].src} alt={images[0].alt} width={500} height={500}/>
  ) : images && images.length === 3 ? (
    <div class="grid">
      {images.map((image, index) => (
        <Image
          src={image.src}
          alt={image.alt}
          class={index === 0 ? "first-image" : ""}
          width={500} height={500}
        />
      ))}
    </div>
  ) : null
}

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .first-image {
    grid-row: span 2;
    grid-column: 1;
  }

  img {
    inline-size: 100%;
    display: block;
    border-radius: 20px;
  }
</style>