---
import Label from "./Label.astro";

const { image, label } = Astro.props;
---

<article class="full">
  <img class="full" src={image} alt="" />
  <div class="hero-content">
    <Label>{label}</Label>
    <h1><slot /></h1>
  </div>
</article>

<style>
  img {
    display: grid;
    grid-template-columns: subgrid;
  }

  .hero-content {
    display: inline-flex;
    padding: 48px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);

    /* dont like this */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  /* fix this */
  article {
    position: relative;
  }
</style>
