---
import Label from "./Label.astro";
const { bgImage, label } = Astro.props;

const importedImage = `/src/assets/images/${bgImage}`;

---

<section style={`background-image: url(${importedImage});`}>
  <header>
    <Label>{label}</Label>
    <h1><slot /></h1>
  </header>
</section>

<style>
    section {
    grid-column: full;
    display: grid;
    grid: auto / subgrid;
    background-size: cover;
    background-position: 50% 40%;

    > * {
      grid-column: content;
    }

    header {
      padding: 2rem;
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(5.5px);
      justify-self: start;
      border-radius: 29px;
      margin-block: clamp(3rem, 0.2727rem + 11.6364vw, 9rem);
    }
  }
</style>
