---
import Label from "../components/Label.astro";
import FigureWithSquares from "./FigureWithSquares.astro";

const imageList = [
  { src: 'assets/images/ideasIntoReality.png', alt: 'Ideas Into Reality' }
];
---
<div class="grid_1-1">
  <Label class="" color="green">Our vison</Label>
  <div class="visionText">
    <h2>Turn your ideas into reality.</h2>
    <p>
      Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test. Override the digital divide with additional from
      DevOps.
    </p>
    <ul class="styled-list">
      <li>
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </li>
      <li>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital.
      </li>
    </ul>
  </div>
  <FigureWithSquares
    beforeTop="-14%"
    beforeRight="-14%"
    afterTop="-5%"
    afterRight="-7%"
    images={imageList}
  />
</div>
<ul class="graphic-list">
  <li>
    <p>1128+</p>
    <p>Successful Work</p>
  </li>
  <li>
    <p>908+</p>
    <p>Team member</p>
  </li>
  <li>
    <p>258+</p>
    <p>Happy Customers</p>
  </li>
  <li>
    <p>564+</p>
    <p>Creative Idea</p>
  </li>
</ul>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 3rem 0;
  }

  @media (min-width: 800px) {
    .grid_1-1 {
      grid-template-columns: 1fr 1fr;
    }
  }

  .visionText {
    grid-column: 1 / 2;
  }

  .graphic-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    li {
      margin: 1rem;
      p:first-child {
        color: #181818;
        font-family: Cabin;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 116%; /* 58px */
      }
    }
  }

  .styled-list {
    list-style: none;
    padding: 0;
  }

  .styled-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
  }

  .styled-list li::before {
    content: url("../assets/icons/tick.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
  }

  figure {
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: -1.5rem;
      top: -1rem;
      background: #4eaf4e;
      width: 100px;
      height: 100px;
      z-index: -1;
      border-radius: 20px;
    }
  }
</style>