---
const { id, text } = Astro.props;
---

<button popovertarget={id}>{text}</button>

<div popover id={id} class="popover-content">
  <h2><slot /></h2>
  <form>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Login</button>
  </form>
</div>

<style>
  .popover-content {
    color: #fff;
    background: #181818;
    border-radius: 30px;
  }

  ::backdrop {
    background: #0004;
    backdrop-filter: blur(4px);
  }

  button {
    border-radius: 20px;
    background-color: #ffcc4a;
    color: #181818;
    font-family: "Lato", sans-serif;
    font-style: normal;
    line-height: 160%;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
</style>
