---
// import "../styles/global.css"
import Label from "./Label.astro";
import FigureWithSquares from "./FigureWithSquares.astro";
---

<div class="grid_1-1">
  <FigureWithSquares
    beforeTop="-14%"
    beforeLeft="-14%"
    afterTop="-5%"
    afterLeft="-6%"
    imgSrc="src/assets/images/whatToExpect.png"
    imgAlt="What to expect"
  />
  <div class="flex">
    <Label>We'll work with you</Label>
    <h1>What To Expect</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <ul>
      <li>
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </li>
      <li>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital.
      </li>
    </ul>
  </div>
</div>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 3rem 0;
  }

  @media (min-width: 800px) {
    .grid_1-1 {
      grid-template-columns: 1fr 1fr;
    }
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  h1 {
    font-size: 45px;
    font-weight: 700;
  }

  ul {
    display: grid;
    gap: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-family: "Cabin";
    font-weight: 400;
    color: #595566;
  }

  li:before {
    content: "";
    width: 1.6rem;
    aspect-ratio: 1;
    background: var(--checkmark-icon) 50% 50% / contain no-repeat;
  }

  img {
    inline-size: 100%;
    display: block;
  }
</style>
